<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Empleados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Empleados</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-label position="stacked">Listado de Empleados</ion-label>

  <br><br>

  <ion-grid>
    <ion-row>
      <ion-col>Opciones</ion-col>
      <ion-col size="1">ID</ion-col>
      <ion-col>Profesión</ion-col>
      <ion-col>Nombre</ion-col>
      <ion-col>Correo</ion-col>
      <ion-col>Dirección</ion-col>
      <ion-col size="1">Estado</ion-col>
      <ion-col>Fecha de ingreso</ion-col>
      <ion-col>Fecha de nacimiento</ion-col>
      <ion-col size="1">Género</ion-col>
      <ion-col>Tipo de identifición</ion-col>
      <ion-col>Número de identificación</ion-col>
      <ion-col>Teléfono</ion-col>
    </ion-row>
    <ion-row *ngFor="let empleado of empleados">
      <ion-col>
        <ion-icon color="primary" name="create-outline" size="large" style="cursor: pointer; margin-left: 10px"></ion-icon>
        <ion-icon name="folder-outline" style="cursor: pointer; margin-left: 10px"></ion-icon>
      </ion-col>
      <ion-col size="1">{{empleado.id}}</ion-col>
      <ion-col>{{empleado.profesion?.nombre}}</ion-col>
      <ion-col>{{empleado.nombres}} {{empleado.apellidos}}</ion-col>
      <ion-col>{{empleado.correo}}</ion-col>
      <ion-col>{{empleado.direccion}}</ion-col>
      <ion-col size="1">{{empleado.estado}}</ion-col>
      <ion-col>{{empleado.fechaIngreso}}</ion-col>
      <ion-col>{{empleado.fechaNacimiento}}</ion-col>
      <ion-col size="1">{{empleado.genero}}</ion-col>
      <ion-col>{{empleado.tipoIdentificacion}}</ion-col>
      <ion-col>{{empleado.numeroIdentificacion}}</ion-col>
      <ion-col>{{empleado.telefono}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
