<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Empleados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Empleados</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-label position="stacked">

  </ion-label>

  <p-table [value]="empleados" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Opciones</th>
        <th size="1">ID</th>
        <th>Profesión</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Dirección</th>
        <th size="1">Estado</th>
        <th>Fecha de ingreso</th>
        <th>Fecha de nacimiento</th>
        <th size="1">Género</th>
        <th>Tipo de identifición</th>
        <th>Número de identificación</th>
        <th>Teléfono</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-empleados>
      <tr>
        <td>
          <div class="card flex flex-row gap-3 justify-content-start align-items-center" style="flex-wrap: nowrap;">
            <p-button label="Editar"></p-button>
            <p-button label="Eliminar" severity="danger" (onClick)="eliminarRegistro()"></p-button>
          </div>
        </td>
        <td size="1">{{empleados.id}}</td>
        <td>{{empleados.profesion?.nombre}}</td>
        <td>{{empleados.nombres}} {{empleados.apellidos}}</td>
        <td>{{empleados.correo}}</td>
        <td>{{empleados.direccion}}</td>
        <td size="1">{{empleados.estado}}</td>
        <td>{{empleados.fecha_ingreso}}</td>
        <td>{{empleados.fecha_nacimiento}}</td>
        <td size="1">{{empleados.genero}}</td>
        <td>{{empleados.tipo_identificacion}}</td>
        <td>{{empleados.numero_identificaicon}}</td>
        <td>{{empleados.telefono}}</td>
      </tr>
    </ng-template>
  </p-table>
</ion-content>
