.form-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-card {
  width: 100%;
  max-width: 800px; /* Ajusta el tamaño de la tarjeta */
  padding: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  gap: 20px;
}

.form-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
}

/* Para pantallas más grandes, usa 3 columnas */
@media (min-width: 800px) {
  .form-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  }
}

/* Para pantallas más pequeñas, usa 1 columna */
@media (max-width: 600px) {
  .form-grid {
    grid-template-columns: 1fr; /* 1 columna */
  }

  .form-card {
    width: 90%;
  }
}
